 <div class="cabecera-govco">
  <!-- Barra Superior -->
  <div class="barra-superior-govco">
    <a href="https://www.gov.co/" target="_blank" rel=noopener
      aria-label="Portal del Estado Colombiano - GOV.CO"></a>
  </div>

  <div class="barra-inferior-govco">
    <div class="barra-logos-govco">
      <a class="logo_alcaldia" target="_blank" rel=noopener aria-label="Alcaldia de Bucaramanga" href="https://bucaramanga.gov.co/"></a>
      <a class="logo_potencia" target="_blank" rel=noopener aria-label="Colombia Potencia de la Vida"></a>
      <!-- <a class="logo_ministerio" target="_blank" rel=noopener aria-label="MINTIC"></a> -->
    </div>
  </div>
  <div class="border-bottom-govco"></div>
</div>
