.checkbox-seleccion-govco {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.938rem;
  line-height: 1.5; /* Ajusta la altura de línea del texto */
}

.checkbox-seleccion-govco input {
  margin-left: 0.5rem; /* Espacio entre el texto y el checkbox */
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(3px); /* Ajusta la posición vertical del checkbox */

}

.table-list {
  display: table;
  width: 100%;
  table-layout: fixed; /* Ajusta el ancho de las columnas para que sean uniformes */
}

.table-row {
  display: table-row;
  margin-bottom: 0.938rem;
}

ul {
  list-style: none;
  margin-left: 0px!important;
  padding-left: 0px!important;
}

ul li:before {
  content: '➡️';
}

hr {
  border: none; /* Eliminar el borde predeterminado */
  height: 10px; /* Altura de la línea */
  width: 75%;
  background: linear-gradient(to right, #79b859, #5eb856, #3e992b, #2e6029, #1b3d17);/* Degradado más contrastante */
  border-radius: 8px; /* Bordes redondeados */
  margin: 20px 0; /* Espaciado superior e inferior */
}

.efecto-hover {
  transition: transform 0.3s ease; /* Suaviza el efecto */
}

.efecto-hover:hover {
  transform: scale(1.05); /* Escala ligeramente hacia afuera */
}


