<general-miga [items]="breadcrumbItems"></general-miga>
<titulo-tramite [title]="titulo" [subtitle]="subitulo" class="mt-2"></titulo-tramite>
<div class="row mt-6">
  <div class="col-md-4 mb-4 mx-xs-2 ">
  <a class="tarjeta-govco  vertical-tarjeta-govco cursor" title="Actualiza Informacion" routerLink="./actualizar">

      <div class="container-img-tarjeta-govco borderStyle">
        <img class="image-tarjeta-govco actualizaImg"
          alt="actualiza">
      </div>
      <div class="body-tarjeta-govco tarjeta-texto">
        <span></span>
        <h5>Actualiza tu información</h5>
        <p>Actualiza tu información regularmente para aprovechar al máximo nuestros servicios y recibir las últimas novedades.</p>
      </div>
    </a>
    </div>
  <div class="col-md-4 mb-4 mx-xs-2 ">
  <a class="tarjeta-govco  vertical-tarjeta-govco cursor" title="Realiza Auto Evaluacion" routerLink="./actualizar">

      <div class="container-img-tarjeta-govco borderStyle">
        <img class="image-tarjeta-govco autoImg"

          alt="descripción de la imagen">
      </div>
      <div class="body-tarjeta-govco tarjeta-texto">
        <span></span>
        <h5>Realiza tu Autoevaluación</h5>
        <p>Este proceso te permitirá obtener una visión clara de los requisitos necesarios para solicitar la visita de tu establecimiento .</p>
      </div>
    </a>
    </div>
  <div class="col-md-4 mb-4 mx-xs-2 ">
  <a class="tarjeta-govco  vertical-tarjeta-govco cursor"  title="Solicita tu visita">

      <div class="container-img-tarjeta-govco borderStyle">
        <img class="image-tarjeta-govco visitaImg"
          src=""
          alt="descripción de la imagen">
      </div>
      <div class="body-tarjeta-govco tarjeta-texto">
        <span></span>
        <h5>Solicita tu visita</h5>
        <p>Solicita tu visita cuando estes seguro de cumplir todos los requisitos necesarios para obtener el concepto sanitario</p>
      </div>
    </a>
    </div>

  </div>


