<div class='content mt-3'>
  <div class="alert alert-warning" role="alert">
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    <h4 class="alert-heading">RECUERDE!</h4>
    <p style="font-size: 14px;" >Durante la visita, es necesario que tenga disponibles los siguientes documentos para la autoridad sanitaria:</p>
    <hr>
    <ol>
      <li style="font-size: 14px;">Plan de saneamiento básico</li>
      <li style="font-size: 14px;">PGIRASA (Si aplica)</li>
      <li style="font-size: 14px;">Estampilla a nombre del representante legal <a href="https://estampillas.syc.com.co/" target="_blank">Clic aquí</a></li>
    </ol>

  </div>
</div>
