<div class="pie-pagina-govco mt-8">
  <div class="first-section">
    <h4>Alcaldía de Bucaramanga</h4>
    <div class="logo-container">
      <span class="govco-logo-potencia"></span>
      <span class="separator"></span>
      <span class="govco-logo-alcaldia"></span>
    </div>
    <h5>Sede principal</h5>
    <ul class="contact-data-container">
      <li>
        <p><b>Dirección Fase I:</b>Calle 35 # 10-43, Bucaramanga, Colombia.</p>
      </li>
      <li>
        <p><b>Código Postal:</b> 680006. Código Dane: 68001.</p>

      </li>
      <li>
        <p class="fw-bold">Horario de atención:</p>
        <p> Lunes a jueves de 7:30 a.m. a 12:00 m y de 1:00 p.m. a 5:00 p.m. / Viernes jornada continua en el horario de 7:00 a.m. a 4:00 p.m</p>
      </li>
      <li>
        <p> <b>Teléfono Conmutador:</b> <a href="tel:6076337000"> (607) 633 70 00</a></p>
      </li>
      <li>
        <p> <b>Linea Gratuita:</b> <a href="tel:6076525555"> (607) 652 55 55</a></p>
      </li>
      <li>
        <p>
          <b>Correo institucional:</b>
          <a href="mailto:contactenos@bucaramanga.gov.co" class="btn-govco link-btn-govco" aria-label="Permite enviar correo" target="_blank">{{'contactenos@bucaramanga.gov.co'}}</a>
        </p>
      </li>
      <li>
        <p>
          <b>Correo de notificaciones judiciales:</b>
          <a href="mailto:notificaciones@bucaramanga.gov.co" class="btn-govco link-btn-govco" aria-label="Permite enviar correo" target="_blank">{{'notificaciones@bucaramanga.gov.co'}}</a>
        </p>
      </li>
    </ul>
    <div class="links-container">
      <a href="https://twitter.com/AlcaldiaBGA" role="button" class="btn-govco link-btn-govco" style="width: 123px; height: 33px;" aria-label="enlace al twiter de la entidad" title="Sitio Oficial de X de la Alcaldia de Bucaramanga">
        <span class="govco-svg govco-twitter" aria-hidden="true"></span>
        <span>{{'@AlcaldiaBGA'}}</span>
      </a>
      <a href="https://www.instagram.com/alcaldiabga/" role="button" class="btn-govco link-btn-govco" style="width: 123px; height: 33px;" aria-label="enlace al instagram de la entidad" title="Sitio Oficial de Instagram la Alcaldia de Bucaramanga">
        <span class="govco-svg govco-instagram" aria-hidden="true"></span>
        <span>{{'@alcaldiabga'}}</span>
      </a>
      <a href="https://www.facebook.com/alcaldiadebucaramanga/" title="Sitio Oficial de FaceBook la Alcaldia de Bucaramanga" role="button" class="btn-govco link-btn-govco" style="width: 123px; height: 33px;" aria-label="enlace al facebook de la entidad">
        <span class="govco-svg govco-facebook-f" aria-hidden="true"></span>
        <span>{{'@alcaldiadebucaramanga'}}</span>
      </a>
    </div>
    <!-- <div class="data-container">
      <ul class="data">
        <h6>Sede 1</h6>
        <li>
          <p>Dirección: xxxxxx xxx xxx </p>
          <p>Departamento y municipio</p>
        </li>
        <li>
          <p>Horario de atención: Lunes a viernes </p>
          <p>xx:xx a.m. - xx:xx p.m.</p>
        </li>
      </ul>
      <ul class="data">
        <h6>Contacto</h6>
        <li>
          <p>Teléfono conmutador: +57(xx) xxx xx xx </p>
        </li>
        <li>
          <p>
            Correo institucional:
            <a href="mailto:ministerio@ministerio.gov.co" class="btn-govco link-btn-govco" aria-label="Permite enviar correo" target="_blank">{{'ministerio@ministerio.gov.co'}}</a>
          </p>
        </li>
      </ul>
      <ul class="data">
        <h6>Sede 2</h6>
        <li>
          <p>Dirección: xxxxxx xxx xxx </p>
          <p>Departamento y municipio</p>
        </li>
        <li>
          <p>Horario de atención: Lunes a viernes </p>
          <p>xx:xx a.m. - xx:xx p.m.</p>
        </li>
      </ul>
      <ul class="data">
        <h6>Contacto</h6>
        <li>
          <p>Teléfono conmutador: +57(xx) xxx xx xx </p>
        </li>
        <li>
          <p>
            Correo institucional:
            <a href="mailto:ministerio@ministerio.gov.co" class="btn-govco link-btn-govco" aria-label="Permite enviar correo" target="_blank">{{'ministerio@ministerio.gov.co'}}</a>
          </p>
        </li>
      </ul>
      <ul class="data">
        <h6>Sede 3</h6>
        <li>
          <p>Dirección: xxxxxx xxx xxx </p>
          <p>Departamento y municipio</p>
        </li>
        <li>
          <p>Horario de atención: Lunes a viernes </p>
          <p>xx:xx a.m. - xx:xx p.m.</p>
        </li>
      </ul>
      <ul class="data">
        <h6>Contacto</h6>
        <li>
          <p>Teléfono conmutador: +57(xx) xxx xx xx </p>
        </li>
        <li>
          <p>
            Correo institucional:
            <a href="mailto:ministerio@ministerio.gov.co" class="btn-govco link-btn-govco" aria-label="Permite enviar correo" target="_blank">{{'ministerio@ministerio.gov.co'}}</a>
          </p>
        </li>
      </ul>
    </div> -->
    <div class="end-links-container">
      <a href="https://www.bucaramanga.gov.co/wp-content/uploads/2018/12/Resolucion-340-Dic-26-2018-y-Politica.pdf" class="btn-govco link-btn-govco" target="_blank">Políticas</a>
      <a href="https://www.bucaramanga.gov.co/mapa-del-sitio/" class="btn-govco link-btn-govco" target="_blank">Mapa del sitio</a>
      <a href="https://www.bucaramanga.gov.co/autorizacion-de-tratamiento-de-datos-personales/" class="btn-govco link-btn-govco" target="_blank">Términos y condiciones</a>
      <a href="#" class="btn-govco link-btn-govco">Accesibilidad</a>
    </div>
  </div>
  <div class="second-section">
    <span class="govco-logo"></span>
    <span class="separator"></span>
    <span class="govco-co"></span>
  </div>
</div>
