<div class="container mt-4">

  <div class="d-flex flex-row gap-4 p-3 justify-content-center flex-wrap govco-bg-cobalt">
    <!-- Botón mixto - Contenido invertido -->
    <button type="button" class="btn-govco fill-secundary-btn-govco icon-btn-govco" style="width: 250px; height: 42px;">
      <span>Realizar Inscripción</span>
      <span class="govco-icon govco-arrow-circle-right" aria-hidden="true"></span>
    </button>
    <!-- Botón mixto - Contorno invertido
    <button type="button" class="btn-govco outline-secundary-btn-govco icon-btn-govco" style="width: 165px; height: 42px;">
      <span class="govco-svg govco-arrow-circle-left" aria-hidden="true"></span>
      <span>Botón</span>
    </button> -->

  </div>
</div>
