@import url('https://fonts.cdnfonts.com/css/verdana');
@import "primeicons/primeicons.css";

:host .p-fieldset-legend-text {
  color: #4C4C4C; /* Change text color */
  font-weight: bold; /* Change font weight */
  font-size: 20px;
  font-family: 'Nunito_Sans-Bold';
}

:host .p-fieldset{
  border-color: #0943B5 ;
  border-style: solid 2px;
}


