<div class="container-example-linea-avance-govco">
  <div class="linea-avance-govco h-linea-avance-govco" id="lineaAvance1">
    <div class="progress">
      <div class="progress-bar" role="progressbar"
           [style.width.%]="progressPercentage"
           [attr.aria-valuenow]="progressPercentage" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
    <div class="items-header-linea-avance-govco">
      <div class="header-linea-avance-govco" [ngClass]="{'active-linea-avance-govco': isStepActive(1)}">
        <div class="indicator-linea-avance-govco" data-la-target="#itemLineaAvance11">1</div>
        <span class="title-linea-avance-govco">Inicio</span>
      </div>
      <div class="header-linea-avance-govco" [ngClass]="{'active-linea-avance-govco': isStepActive(2)}">
        <div class="indicator-linea-avance-govco" data-la-target="#itemLineaAvance12">2</div>
        <span class="title-linea-avance-govco">Hago mi solicitud</span>
      </div>
      <div class="header-linea-avance-govco" [ngClass]="{'active-linea-avance-govco': isStepActive(3)}">
        <div class="indicator-linea-avance-govco" data-la-target="#itemLineaAvance13">3</div>
        <span class="title-linea-avance-govco">Procesan mi solicitud</span>
      </div>
      <div class="header-linea-avance-govco" [ngClass]="{'active-linea-avance-govco': isStepActive(4)}">
        <div class="indicator-linea-avance-govco" data-la-target="#itemLineaAvance14">4</div>
        <span class="title-linea-avance-govco">Respuesta</span>
      </div>
    </div>
  </div>
</div>
