<!-- Alerta Emergente Informativa -->
<!-- <div class="container-alerta-govco">
  <div class="alert alerta-govco notificacion-info-govco" role="alert">
      <span class="govco-icon govco-info-circle fs-mr" aria-label="info"></span>
      <p>
        {{message}}
      </p>
      <a href="javascript:void(0)" role="button">
          <span class="govco-icon govco-times info" aria-label="close"></span>
      </a>
  </div>
</div> -->

<div class="alert alert-primary alert-dismissible fade show mt-3 animate__animated animate__headShake animate__repeat-2" role="alert">
  <p class="text-center">{{message}}</p>
</div>
