<div class="container mt-5">
<div class="accordion-govco" id="accordionExampleTwo">
  <div class="item-accordion-govco">
    <h2 class="accordion-header" id="accordionIconoPanels-exampleOne">
      <button class="button-accordion-govco button-number-accordion-govco" type="button"
        data-bs-toggle="collapse" data-bs-target="#accordionIconoPanels-collapseOne" aria-expanded="true"
        aria-controls="accordionIconoPanels-collapseOne">
        <span class="icon-button-accordion-govco">1</span>
        <span class="text-button-accordion-govco">¿ Quienes deben realizar este tramite ?</span>
      </button>
    </h2>
    <div id="accordionIconoPanels-collapseOne" class="accordion-collapse collapse show"
      aria-labelledby="accordionIconoPanels-exampleOne" data-bs-parent="#accordionExampleTwo">
      <div class="body-accordion-govco">
        <span class="title-one-accordion-govco">Todos</span>
        <span class="title-two-accordion-govco">Cédula de ciudadanía: 1 original(es) en formato válido.</span>
        <p class="text-one-accordion-govco">En caso de no tener cédula en formato válido podrá presentar:
          Contraseña de la cédula de ciudadanía de primera vez vigente con foto y huella y la copia del
          registro civil de nacimiento.</p>
      </div>
    </div>
  </div>
  <div class="item-accordion-govco">
    <h2 class="accordion-header" id="accordionIconoPanels-exampleTwo">
      <button class="button-accordion-govco button-number-accordion-govco collapsed" type="button"
        data-bs-toggle="collapse" data-bs-target="#accordionIconoPanels-collapseTwo" aria-expanded="false"
        aria-controls="accordionIconoPanels-collapseTwo">
        <span class="icon-button-accordion-govco">2</span>
        <span class="text-button-accordion-govco">¿Requiere Pago?</span>
      </button>
    </h2>
    <div id="accordionIconoPanels-collapseTwo" class="accordion-collapse collapse"
      aria-labelledby="accordionIconoPanels-exampleTwo" data-bs-parent="#accordionExampleTwo">
      <div class="body-accordion-govco">
        <span class="title-one-accordion-govco">Documento</span>
        <span class="title-two-accordion-govco">Cédula de ciudadanía: 1 original(es) en formato válido.</span>
        <p class="text-one-accordion-govco">En caso de no tener cédula en formato válido podrá presentar:
          Contraseña de la cédula de ciudadanía de primera vez vigente con foto y huella y la copia del
          registro civil de nacimiento.</p>
      </div>
    </div>
  </div>
  <div class="item-accordion-govco">
    <h2 class="accordion-header" id="accordionIconoPanels-exampleThree">
      <button class="button-accordion-govco button-number-accordion-govco collapsed" type="button"
        data-bs-toggle="collapse" data-bs-target="#accordionIconoPanels-collapseThree" aria-expanded="false"
        aria-controls="accordionIconoPanels-collapseThree">
        <span class="icon-button-accordion-govco">3</span>
        <span class="text-button-accordion-govco">¿Qué resultado se obtiene?</span>
      </button>
    </h2>
    <div id="accordionIconoPanels-collapseThree" class="accordion-collapse collapse"
      aria-labelledby="accordionIconoPanels-exampleThree" data-bs-parent="#accordionExampleTwo">
      <div class="body-accordion-govco">
        <span class="title-one-accordion-govco">Documento</span>
        <span class="title-two-accordion-govco">Cédula de ciudadanía: 1 original(es) en formato válido.</span>
        <p class="text-one-accordion-govco">En caso de no tener cédula en formato válido podrá presentar:
          Contraseña de la cédula de ciudadanía de primera vez vigente con foto y huella y la copia del
          registro civil de nacimiento.</p>
      </div>
    </div>
  </div>
  <div class="item-accordion-govco">
    <h2 class="accordion-header" id="accordionIconoPanels-exampleThree">
      <button class="button-accordion-govco button-number-accordion-govco collapsed" type="button"
        data-bs-toggle="collapse" data-bs-target="#accordionIconoPanels-collapseFour" aria-expanded="false"
        aria-controls="accordionIconoPanels-collapseFour">
        <span class="icon-button-accordion-govco">4</span>
        <span class="text-button-accordion-govco">¿Comó y donde se realiza?</span>
      </button>
    </h2>
    <div id="accordionIconoPanels-collapseFour" class="accordion-collapse collapse"
      aria-labelledby="accordionIconoPanels-exampleThree" data-bs-parent="#accordionExampleTwo">
      <div class="body-accordion-govco">
        <span class="title-one-accordion-govco">Documento</span>
        <span class="title-two-accordion-govco">Cédula de ciudadanía: 1 original(es) en formato válido.</span>
        <p class="text-one-accordion-govco">En caso de no tener cédula en formato válido podrá presentar:
          Contraseña de la cédula de ciudadanía de primera vez vigente con foto y huella y la copia del
          registro civil de nacimiento.</p>
      </div>
    </div>
  </div>
</div>
</div>
